$primary-color: #a6cdef;
$secondary-color: #f5f5f5;
$fire-color: #ff5722;
$water-color: #03a9f4;
$grass-color: #8bc34a;
$bug-color: #cddc39;
$normal-color: #708088;
$flying-color: #90caf9;
$poison-color: #ab47bc;

body {
  background-image: url(./img/background.gif);
  background-size: cover;
  background-position: center;
  margin: 0;
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  width: 18rem;
  border: 5px solid rgb(202, 238, 239);
  transition: 0.4s;
  cursor: pointer;
  background-image: url('./img/pokeball.png');
  background-position: center;
  background-size: 180%;
  background-color: $secondary-color;

  &:hover {
    transform: translateY(-5px);
    border-color: white;
  }

  &-title {
    padding: 8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  &-type {
    display: flex;
    justify-content: center;
    font-style: italic;

    &.fire {
      background-color: $fire-color;
    }

    &.water {
      background-color: $water-color;
    }

    &.grass {
      background-color: $grass-color;
    }

    &.bug {
      background-color: $bug-color;
    }

    &.normal {
      background-color: $normal-color;
    }

    &.flying {
      background-color: $flying-color;
    }

    &.poison {
      background-color: $poison-color;
    }
  }
}

@media (max-width: 992px) {
  .card {
    // Estilos específicos para pantallas medianas
  }
}

@media (max-width: 576px) {
  .card {
    // Estilos específicos para pantallas pequeñas
  }
}
